<footer class="text-center text-white mt-4" style="background-color: #607D8B">
    <hr class="text-dark">
    
    <div class="container">
      <!-- Section: Social media -->
      <section class="mb-3">
        
        <!-- Facebook -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark">
          <i class="fab fa-facebook-f"></i>
        </a>
  
        <!-- Twitter -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i></a>
  
        <!-- Google -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- YouTube -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-youtube"></i
        ></a>
        <!-- Github -->
        <a
          class="btn-link btn-floating btn-lg text-white"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0">
      © <script>document.write(new Date().getFullYear());</script>
      | This website is made with <i class="fas fa-heart text-danger"></i>
    </div>
    <!-- Copyright -->
  </footer>