{% extends 'base.html' %} {% load humanize %} {% block content %} {% include 'carousel.html' %}

<!--Main layout-->
<main>
  <div class="container w-100">
    <div class="my-5 py-3">
      <h1 class="text-center">
        Jelajahi beragam <i>kategori</i> kami
      </h2>
      <div class="d-flex categories justify-content-center">
        <div class="rounded-pill m-2 px-3 py-2">
          <a href="#">Pakaian</a>
        </div>
        <div class="rounded-pill m-2 px-3 py-2">
          <a href="#">Tas</a>
        </div>
        <div class="rounded-pill m-2 px-3 py-2">
          <a href="#">Sepatu</a>
        </div>
        <div class="rounded-pill m-2 px-3 py-2">
          <a href="#">Aksesoris</a>
        </div>
      </div>  
    </div>
    
    <!-- Products -->
    <section>
        <div class="text-center my-4">
          <div class="row">
            {% for pItem in object_list %}
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card mb-4 h-100 d-flex py-2">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="{{ pItem.gambar.url }}" class="card-img card-img-top" style="width:100%;height: 30vh; object-fit:contain;"/>
                  <a href="{{ pItem.get_absolute_url }}"> 
                    <div class="mask">
                      <div class="d-flex justify-content-start align-items-end h-100">
                        <h5>
                          {% if pItem.label == 'NEW'%}
                                <span class="badge badge-info ms-2">{{ pItem.label }}</span></h5>
                              {% elif pItem.label == 'SALE' %}
                                <span class="badge badge-danger ms-2">{{ pItem.label }}</span></h5>
                              {% elif pItem.label != '' %}
                                <span class="badge badge-warning ms-2">{{ pItem.label }}</span></h5>
                              {% endif %}
                      </div>
                    </div>
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </div>
                  </a>
                </div>
                <div class="card-body">     
                  <a href="{{ pItem.get_absolute_url }}" class="text-reset">
                    <h5 class="card-title mb-2">{{ pItem.nama_produk }}</h5>
                  </a>
                  <a href="" class="text-reset ">
                    <p>{{ pItem.get_kategori_display }}</p>
                  </a>
                  <h6 class="mb-3 price">{% if pItem.harga_diskon %}Rp {{ pItem.harga_diskon|intcomma }},-{% else %}Rp {{ pItem.harga|intcomma }},-{% endif %}</h6>
                </div>
              </div>
            </div>
            {% empty %}
              <p>Data Produk belum tersedia</p>
            {% endfor %}
          </div>

          <div class="row mt-4">
            <h1 class="text-center mt-4">SEDANG DISKON</h1>
            {% for pItem in object_list %}
            {% if pItem.harga_diskon %}
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card mb-4 h-100 d-flex py-2">
                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                  data-mdb-ripple-color="light">
                  <img src="{{ pItem.gambar.url }}" class="card-img card-img-top" style="width:100%;height: 30vh; object-fit:contain;"/>
                </div>
                <div class="card-body">
                  <a href="{{ pItem.get_absolute_url }}" class="text-reset">
                    <h5 class="card-title mb-2">{{ pItem.nama_produk }}</h5>
                  </a>
                  <a href="" class="text-reset ">
                    <p>{{ pItem.get_kategori_display }}</p>
                  </a>
                  <h6 class="mb-2 price sale">Rp {{ pItem.harga_diskon|intcomma }},-</h6>
                  <p class="text-decoration-line-through mt-0">Rp {{ pItem.harga|intcomma }},-</p>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </section>
    <!-- End Products -->

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
      <ul class="pagination">
        <li class="page-item">
          {% if page_obj.has_previous %}
          <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
          {% endif %}
        </li>
        <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
        <li class="page-item">
          {% if page_obj.has_next %}
          <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
          {% endif %}
        </li>
      </ul>
    </nav>
    {% endif %}
    <!-- Pagination -->
  </div>
</main>
<!--Main layout-->
{% endblock content %}
