{% load static %}{% extends 'base.html' %} {% block content %} 

<main class="my-5" style="background-image: url()">
  <div class="container w-100 card" style="margin-top: 4vw">
    <div class="row p-4">
      <section class="col-md-6">
        <div class="flex-column">
                    <img src="{%static 'img/logo.jpg'%}"" class="d-block w-100"/>
                    <h2>Voguetage</h2>
                    <p>Pusat <i>fashion vintage</i> wanita Indonesia.</p>
                    <p>Kini dapat diakses dari mana saja!</p>
          </div>
        </section>
        <section class="col-md-6">
            <h1>Hubungi Kami</h1>
            <p>Kami akan menjawab masalah dan pertanyaan Anda, 24 jam!</p>
            <form action="#" method="post" class="p-2">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" value="Kirim Pesan" />
            </form>
        </section>
    </div>
  </div>
</main>
{% endblock content%}
