{% extends "base.html" %} {% load humanize %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 mt-4 mb-4">
      <h1 class="text-center">Order Summary</h1>
    </div>
  </div>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>No.</th>
        <th>Nama Produk</th>
        <th style="width: 160px;">Harga</th>
        <th >Quantity</th>
        <th style="width: 160px;">Total Harga</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for pItem in keranjang.produk_items.all|dictsort:'id' %}
      <tr>
        <td scope="row">{{ forloop.counter }}</td>
        <td>
          <a href="{% url 'toko:produk-detail' pItem.produk_item.slug %}">
            <div class="d-flex align-items-center">
              <img
                src="{{ pItem.produk_item.gambar.url }}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle" />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ pItem.produk_item.nama_produk }}</p>
                <p class="text-muted mb-0">
                  {{ pItem.produk_item.deskripsi|truncatewords:10 }}
                </p>
              </div>
            </div>
          </a>
        </td>
        <td><div>Rp {{ pItem.produk_item.harga|intcomma}},-</div></td>
        <td>
          <a
            href="{% url 'toko:remove-single-item-from-cart' pItem.produk_item.slug %}">
            <i class="fas fa-minus" style="margin-right: 2px"></i>
          </a>
          {{ pItem.quantity }}
          <a href="{% url 'toko:add-to-cart' pItem.produk_item.slug %}">
            <i class="fas fa-plus" style="margin-left: 2px"></i>
          </a>
        </td>
        <td>
          {% if pItem.produk_item.harga_diskon %} Rp {{pItem.get_total_harga_diskon_item|intcomma }},-
          <span class="badge badge-danger d-inline"
            >Hemat Rp {{ pItem.get_total_hemat_item|intcomma }},-</span
          >
          {% else %} Rp {{ pItem.get_total_harga_item|intcomma }},- {% endif %}
        </td>
        <td>
          <a href="{% url 'toko:remove-from-cart' pItem.produk_item.slug %}"
            ><div class="d-flex justify-content-center"><i class="fas fa-trash-alt"></i
          ></div></a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6"><div class="d-flex justify-content-center">Keranjang kosong</div></td>
      </tr>
      <tr>
        <td colspan="6">
          <a
            class="btn btn-primary float-end"
            href="{% url 'toko:home-produk-list' %}"
            >Lanjut belanja</a
          >
        </td>
      </tr>
      {% endfor %} {% if keranjang.produk_items.all %}
      <tr>
        <td colspan="4"><div class="d-flex justify-content-center"><b>Total Belanja</b></div></td>
        <td>
          <b>Rp {{ keranjang.get_total_harga_order|intcomma }},-</b>
          {% if keranjang.get_total_hemat_order %}
          <span class="badge badge-danger"
            >Hemat Rp {{ keranjang.get_total_hemat_order|intcomma }},-</span
          >
          {% endif %}
        </td>
        <td></td>
      </tr>

        <td>
          <a
            class="btn btn-warning float-start"
            href="{% url 'toko:checkout' %}"
            >Checkout</a
          ></td>
        <td colspan="5">
          <a
            class="btn btn-danger float-end mr-2"
            href="{% url 'toko:home-produk-list' %}"
            >Lanjut belanja</a
          >
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock content %}
