{% extends 'base.html' %} {% load crispy_forms_tags %} {% load humanize %}
{%block content%}

<!--Main layout-->
<main>
  <div class="container mt-5">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-md-4 mb-4">
        <img src="{{ object.gambar.url }}" class="img-fluid" alt="" />
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-8 mb-4">
        <!--Content-->
        <div class="p-4">
          <div class="mb-3">
            <h1>{{ object.nama_produk }}</h1>
            <a href="">
              <span class="badge bg-dark me-1"
                >{{ object.get_kategori_display }}</span
              >
            </a>
            {% if object.label == 'NEW' %}
            <a href="#">
              <span class="badge bg-info me-1"
                >{{ object.get_label_display }}</span
              >
            </a>
            {% elif object.label == 'SALE' %}
            <a href="#">
              <span class="badge bg-danger me-1"
                >{{ object.get_label_display }}</span
              >
            </a>
            {% else %}
            <a href="#">
              <span class="badge bg-warning me-1"
                >{{ object.get_label_display }}</span
              >
            </a>
            {% endif %}
          </div>

          <p class="lead">
            {% if object.harga_diskon %}
            <span class="me-1">
              <del>Rp {{ object.harga|intcomma }},-</del>
            </span>
            <span>Rp {{ object.harga_diskon|intcomma }},-</span>
            {% else %}
            <span>Rp {{ object.harga|intcomma }},-</span>
            {% endif %}
          </p>

          <h2 class="produkSubjudul">Deskripsi</h2>

          <p>{{ object.deskripsi }}</p>
          <a
            href="{{ object.get_add_to_cart_url }}"
            class="btn btn-primary ms-1">
            Tambah ke keranjang
            <i class="fas fa-shopping-cart ms-1"></i>
          </a>
          <a
            href="{{ object.get_remove_single_item_from_cart_url }}"
            class="btn btn-danger ms-1">
            Kurangi keranjang
            <i class="fas fa-shopping-cart ms-1"></i>
          </a>
        </div>
        <!--Content-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <hr />

    <!--Grid row-->
    <div class="row d-flex justify-content-center">
      <!--Grid column-->
      <div class="col-md-6 text-center">
        <h2 class="my-4 produkSubjudul">Detail Produk</h2>

        <p>{{ object.detail_produk }}</p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">
      {% for p in p_images %}
      <div class="col-lg-4 col-md-4 col-sm-4 mb-4">
        <img
          src="{{ p.images.url }}"
          style="width: 100%; height: 300px; object-fit: contain"
          alt="" />
      </div>
      {% endfor %}
    </div>

    <!-- Form Ulasan -->
    <br />
    <div class="row">
      <div class="col-lg-6">
        <div class="col-12">
          {% with reviews.count as total_reviews %} {% if total_reviews > 0 %}
          <h2 class="my-3 produkSubjudul">{{ total_reviews }} Ulasan</h2>
          {% else %}
          <h2 class="my-3 produkSubjudul">Tidak ada ulasan untuk Produk ini</h2>
          {% endif %} {% endwith %}
          <div style="height: 450px; overflow: auto">
            {% if total_reviews != 0 %} {% for review in reviews %}
            <div class="p-2">
              <h6>{{ review.nama }} pada {{review.publish }}</h6>
              <h6>Rating {{ review.rating }} / 5</h6>
              <p class="my-0">{{ review.komentar|linebreaks }}</p>
              <hr />
            </div>

            {% endfor %} {% else %}
            <p>Tidak ada ulasan terkait produk</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="col-12">
          <h2 class="my-3 produkSubjudul">Tulis Ulasan</h2>
          <form id="myForm" method="post">
            {{ review_form.as_p }} {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<!--Main layout-->
{% endblock content%}
